body {
	margin-top: 25px;
	background-image: url(https://images.unsplash.com/photo-1528459801416-a9e53bbf4e17?ixlib=rb-1.2.1&auto=format&fit=crop&w=1555&q=80);
	background-position: top;
}

h2 {
	/* background-image: url(https://images.unsplash.com/photo-1486231328412-f20a348f9837?ixlib=rb-1.2.1&auto=format&fit=crop&w=1575&q=80); */
	background-position: bottom;
	text-align: center;
	font-family: 'Shadows Into Light', cursive;
	/* font-family: 'Michroma', sans-serif; */
	/* font-family: 'Indie Flower', cursive; */
	font-size: 45px;
	padding: 15px;
	/* color: white; */
}

h4 {
	text-align: left;
	margin-left: 10px;
	width: 175px;
	word-wrap: normal;
}

header {
	padding: 15px;
	background-color: rgba(255,255,255,0.7);
	margin-bottom: 25px;
}

img {
	padding: 10px;
}

.modal-wrapper {
	border: 0px solid black;
	width: 100%;
	height: auto;
	/* margin: 50px; */
	text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  margin:0 auto;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(255,255,255); /* Fallback color */
  background-color: rgba(255,255,255,0.7); /* Black w/ opacity */
}

.voting-div {
	display: inline-block;
	margin-left: 10px;
	position: absolute;
	right: 5px;

}

.header {
	/* font-size: 30px; */
	color: blue;
}


#outerDiv {
	position: relative;
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
}
